<% layout('/layouts/boilerplate') %>

    


    <div class="row">
        <h1 class="text-center">edit destination</h1>
        <div class="col-6 offset-3">
            <form action="/destination/<%=place._id%>?_method=PUT" method='POST' novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">title</label>
                    <input class="form-control" type="text" id="title" name="destination[title]" value="<%=place.title  %>"  required >
                </div> 
                <div class=" mb-3">
                    <label class="form-label" for="location">location</label>
                    <input class="form-control" type="text" id="location" name="destination[location]" value="<%=place.location  %>" required  >
                </div>
              
                <div class=" mb-3">
                    <label class="form-label" for="travelcost">travel cost</label>
                    <div class="input-group">
                        <span class="input-group-text" id="travelcost-label">Rs</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="travelcost"
                            aria-describedby="travelcost-label" name="destination[travelcost]" value="<%=place.travelcost  %>"  required>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="destination[description]"
                        required><%= place.description%></textarea>
                    </div>  
                 
                <div class="mb-3">
                    <label class="form-label" for="image">select images</label>
                <div class="input-group ">
                    <input type="file" class="form-control" id="inputGroupFile02" name="image" multiple>
                  </div>
                </div>
                <div class="mb-3">
                    <h6>  you may detele or retain existing  images   </h6>
                    <% place.images.forEach(function(img, i) {  %>

                    <p class="form-check-inline"><img src="<%=img.thumbnail %>" class="img-thumbnail" alt=""></p>
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% })%>
                </div>
                <div class=" mb-3">
                    <button class="btn btn-info">update destination</button>
                </div>
            </form>
            <a href="/destination/<%=place._id%>">back to destination</a>
    
        </div>
    </div>
    